table {
  width: 30%;
  height:100%;
  background-color:#074065;
 
}

th {
  height: 50px;
  width:50px;
  }
  #r,#s,#o
  {
  	text-align: center;
  } 
  #t1
  {
  	color:#3498DB;
  }
  #h
  {
  	color:white;
  }
  #o
  {
  	background-color:#F1C40F;
  }
  #r
  {
  	background-color: #839192;
  }
  #s
  {
  	background-color:#7FB3D5;
  }